@import './../../style.scss';

.home {
  width: 100%;
  height: 100%;
  section {
    margin: 0 auto;
    width: 1440px;
    padding: 130px 70px 0;
    background-color: $black;
    box-sizing: border-box;
  }
  &_souvenirs {
    width: 350px;
    height: 320px;
    padding: 14px 20px;
    border-radius: 3px;
    box-sizing: border-box;
    @include radius3();
    background-image: url('../../assets/image/home/home-souvenir.png');
    p {
      white-space: pre-wrap;
      @include font-style(18, #ebd357, Mabry Pro Med, 1.2);
    }
  }
}
