@import './../../style.scss';

.home {
  margin: 0 auto;
  width: 1440px;
  padding: 88px 70px 0;
  background-color: $black;
  box-sizing: border-box;
  &_souvenirs {
    width: 350px;
    height: 320px;
    border-radius: 3px;
    img {
      width: inherit;
      height: inherit;
    }
  }
}
