@import '../../style.scss';

.myProfile {
  margin-right: 48px;
  &_head {
    display: flex;
    align-items: center;
    margin: 0 0 16px;
    h3 {
      color: var(--white, #fff);
      font-family: Mabry Pro;
      font-size: 21px;
      font-style: normal;
      font-weight: 400;
      margin: 0 8px 0 0;
    }
  }
  &_container {
    display: flex;
    align-items: center;
    width: 371px;
    height: 216px;
    background-color: #b9b5ff;
    padding: 16px;
    box-sizing: border-box;
  }
  &_imgbox {
    position: relative;
    width: 107px;
    margin: 0 40px 0 3px;
    img {
      height: 107px;
      border-radius: 50%;
      width: inherit;
      height: inherit;
    }
    p {
      &:nth-child(3) {
        color: #736de3;
        text-align: center;
        font-family: Mabry Pro;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        width: inherit;
      }
    }
  }
  &_imgbox-tag {
    position: absolute;
    display: flex;
    align-items: center;
    top: -7px;
    right: -22px;
    width: 69px;
    height: 23px;
    border-radius: 20px;
    background: #736de3;
    p {
      @include serif;
      margin: 0 auto;
      font-size: 13px;
    }
  }
  &_detail {
    padding: 0;
    list-style: none;
    li {
      display: flex;
      align-items: center;
      padding: 0 0 0 15px;
      box-sizing: border-box;
      p {
        color: #736de3;
        font-family: SF Pro Display;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        letter-spacing: 0.28px;
      }
      &:first-child {
        width: 195px;
        height: 32px;
        border-radius: 10px;
        border: 1px solid #736de3;
      }
      &:nth-child(2) {
        flex-direction: column;
        justify-content: space-between;
        align-items: baseline;
        padding-bottom: 10px;
        padding-top: 5px;
        width: 195px;
        height: 101px;
        flex-shrink: 0;
        border-radius: 10px;
        background: rgba(233, 233, 233, 0.5);
        margin: 8px 0;
        svg {
          &:first-child {
            margin-left: auto;
          }
          &:nth-child(2) {
            margin-bottom: 5px;
          }
        }
        p {
          color: #000;
          &:nth-child(3) {
            font-weight: 500;
          }
        }
      }
      &:last-child {
        width: 195px;
        height: 32px;
        border-radius: 10px;
        background: rgba(115, 109, 227, 0.3);
        p {
          color: $black;
        }
      }
    }
  }
}
