@import '../../../style.scss';

.myProfile {
  height: 472px;
  margin-right: 48px;
  border-radius: 3px;
  overflow: hidden;
  &_head {
    width: inherit;
    height: 293px;
    img {
      height: inherit;
      object-fit: cover;
      width: inherit;
    }
  }
  &_imgbox {
    position: relative;
    width: 107px;
    margin: 0 40px 0 3px;
    img {
      height: 107px;
      border-radius: 50%;
      width: inherit;
    }
    p {
      &:nth-child(3) {
        color: #736de3;
        text-align: center;
        font-family: Mabry Pro;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        width: inherit;
      }
    }
  }
  &_imgbox-tag {
    position: absolute;
    display: flex;
    align-items: center;
    top: -7px;
    right: -22px;
    width: 69px;
    height: 23px;
    border-radius: 20px;
    background: #736de3;
    p {
      @include serif;
      margin: 0 auto;
      font-size: 13px;
    }
  }
}
