@import '../../../style.scss';

.newsHome {
  display: flex;
  width: 649px;
  height: 391px;
  margin: 0 0 0 48px;
  &_left {
    width: 358px;
  }
  &_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h2 {
      color: var(--light-gray, #eaeaea);
      font-family: Value Serif Pro;
      font-size: 21px;
      font-style: normal;
      font-weight: 500;
      margin: 0 0 30px;
      line-height: 20px;
    }
  }
  &_textBox {
    border-top: 1px solid #eaeaea33;
    box-sizing: border-box;
    padding-top: 11px;
    height: 72px;
    a {
      color: var(--light-gray, #eaeaea);
      font-family: SF Pro;
      font-size: 14px;
      font-style: normal;
      font-weight: 274;
      text-decoration: none;
      white-space: pre-wrap;
      line-height: 0;
    }
  }
  &_right {
    width: 272px;
    padding: 7px 0 0;
    margin-right: 48px;
    box-sizing: border-box;
    white-space: pre-wrap;
    &_image {
      margin: 15px 15px 15px 0;
    }
    h2 {
      color: #fff;
      @include mabry;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
    }
  }
  &_video {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 272px;
    height: 155px;
    background-color: #d9d9d966;
    margin: 7px 0 10px;
  }
  p {
    color: rgba(255, 255, 255, 0.5);
    font-family: Mabry Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
  }
}
