@import '../../../style.scss';

.newsHome {
  display: flex;
  align-self: flex-end;
  height: 391px;
  margin-left: 30px;
  &_left {
    width: 340px;
  }
  &_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h2 {
      margin: 0 0 20px;
      @include font-style(21, $Brand-Light-Green-0, Mabry Pro Med, 1.1);
    }
  }
  &_textBox {
    border-top: 1px solid #eaeaea33;
    box-sizing: border-box;
    padding-top: 11px;
    height: 72px;
    a {
      text-decoration: none;
      white-space: pre-wrap;
      @include font-style(14, $System-Dark-Gray-0, Mabry Pro Reg, 1);
    }
  }
  &_right {
    margin-right: 40px;
    box-sizing: border-box;
    white-space: pre-wrap;
    &_image {
      position: relative;
      width: min-content;
      margin: 15px 15px 12px 0;
      a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 5;
      }
    }
    h2 {
      @include font-style(21, $Brand-Light-Green-0, Mabry Pro Med, 1.1);
    }
  }
  &_video {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 280px;
    height: 155px;
    background-color: #d9d9d966;
    margin: 0 0 10px;
    background-image: url('../../../assets/image/home/youtube.jpg');
    background-size: 280px 155px;
    opacity: 0.75;
    a {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      z-index: 5;
    }
  }
  p {
    @include font-style(14, $System-Dark-Gray-0, Mabry Pro Reg, 1.4);
  }
}
