@import '../../../style.scss';

.wordbuzz {
  width: 620px;
  height: 320px;
  border: 1px solid #eaeaea;
  background-color: $System-White-2;
  padding: 0 20px 20px;
  box-sizing: border-box;
  &_title {
    display: flex;
    align-items: center;
    margin: 15px 0 24px;
    h3 {
      @include mabry;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      margin-right: 3px;
    }
    svg {
      fill: $System-Black-0;
    }
  }
}

.apimap {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 10px;
  div {
    width: 107px;
    height: 107px;
  }
  img {
    width: inherit;
    height: inherit;
  }
}

.discovercities {
  position: relative;
  width: 290px;
  height: 320px;
  background: #b9b5ff;
  white-space: pre-wrap;
  &_title {
    display: flex;
    margin: 22px 19px 0;
    h2 {
      @include font-style(22, $System-Black-0, Mabry Pro Med, 1.3);
    }
  }
  &_title-list {
    display: flex;
    margin-left: auto;
    li {
      list-style: none;
      margin-right: 8px;
      &:last-child {
        margin: 0;
      }
      &:hover button {
        color: #736de3;
      }
      button {
        color: #736de380;
        @include serif;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
      }
    }
  }
  &_cities {
    position: absolute;
    top: 98px;
    left: 38px;
    width: 186px;
    height: 190px;
  }
  &_city {
    position: absolute;
    p {
      @include font-style(13, $Brand-Purple-1, Mabry Pro Reg, 1.4);
      width: max-content;
    }
    svg {
      cursor: pointer;
    }
  }
}

.cityslide {
  display: flex;
  overflow: hidden;
}
