@import '../../style.scss';

.journey-small {
  width: 234px;
  height: 179px;
  padding: 0;
  list-style: none;
  li {
    display: flex;
    align-items: center;
    padding: 0 0 0 15px;
    box-sizing: border-box;
    p {
      @include font-style(14, $System-Black-0, Mabry Pro Reg, 1.4);
    }
    &:first-child {
      height: 37px;
      background-color: $Brand-Purple-0;
    }
    &:nth-child(2) {
      flex-direction: column;
      justify-content: space-between;
      align-items: baseline;
      padding-bottom: 10px;
      padding-top: 5px;
      height: 105px;
      flex-shrink: 0;
      background-color: #736de3;
      div {
        display: flex;
        width: 206px;
        justify-content: space-between;
        margin: 13px 0 12px;
      }
      svg {
        &:nth-child(2) {
          align-self: flex-start;
        }
        fill: $System-Light-Gray-2;
      }
    }
    &:last-child {
      height: 37px;
      background-color: #48439e;
    }
  }
}

.journey-big {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  list-style: none;
  width: 250px;
  li {
    display: flex;
    align-items: center;
    padding: 0 0 0 15px;
    box-sizing: border-box;
    border-radius: 3px;
    p {
      @include font-style(19, $System-White-0, Mabry Pro Reg, 1.4);
    }
    &:first-child {
      height: 50px;
      background-color: $Brand-Purple-0;
    }
    &:nth-child(2) {
      height: 272px;
      flex-direction: column;
      justify-content: space-between;
      align-items: baseline;
      padding: 20px;
      background-color: #736de3;
      div {
        display: flex;
        width: 206px;
        justify-content: space-between;
        margin: 13px 0 12px;
      }
      p {
        @include font-style(19, $System-White-0, Mabry Pro Reg, 1.4);
      }
      svg {
        &:nth-child(2) {
          align-self: flex-start;
        }
        fill: $System-Light-Gray-2;
      }
    }
    &:last-child {
      height: 50px;
      background-color: #736de34d;
    }
  }
}

/* .journey-small {
  padding: 0;
  list-style: none;
  li {
    display: flex;
    align-items: center;
    padding: 0 0 0 15px;
    box-sizing: border-box;
    p {
      color: #736de3;
      font-family: SF Pro Display;
      font-size: 14px;
      font-style: normal;
      letter-spacing: 0.28px;
    }
    &:first-child {
      width: 195px;
      height: 32px;
      border-radius: 10px;
      border: 1px solid #736de3;
    }
    &:nth-child(2) {
      flex-direction: column;
      justify-content: space-between;
      align-items: baseline;
      padding-bottom: 10px;
      padding-top: 5px;
      width: 195px;
      height: 101px;
      flex-shrink: 0;
      border-radius: 10px;
      background: rgba(233, 233, 233, 0.5);
      margin: 8px 0;
      svg {
        &:first-child {
          margin-left: auto;
        }
        &:nth-child(2) {
          fill: $black;
          margin-bottom: 5px;
        }
      }
      p {
        color: #000;
        &:nth-child(3) {
          font-weight: 500;
        }
      }
    }
    &:last-child {
      width: 195px;
      height: 32px;
      border-radius: 10px;
      background: rgba(115, 109, 227, 0.3);
      p {
        color: $black;
      }
    }
  }
}

.journey-big {
  padding: 0;
  list-style: none;
  li {
    display: flex;
    align-items: center;
    padding: 0 0 0 15px;
    box-sizing: border-box;
    &:first-child {
      width: 250px;
      height: 42px;
      border-radius: 10px;
      border: 1px solid #736de3;
      color: #736de3;
    }
    &:nth-child(2) {
      flex-direction: column;
      align-items: baseline;
      padding: 18px 19px;
      box-sizing: border-box;
      width: 250px;
      height: 130px;
      border-radius: 9.211px;
      background: #736de3;
      margin: 14px 0 13px;
      color: #fff;
      svg {
        fill: $fff;
        margin: 17px 0 0;
      }
      p {
        margin-top: 12px;
      }
    }
    &:last-child {
      width: 250px;
      height: 41px;
      border-radius: 10px;
      background: rgba(115, 109, 227, 0.3);
      p {
        color: $black;
      }
    }
  }
} */

.journey-big-fontB {
  font-family: SF Pro Display;
  font-size: 18.178px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.364px;
}

.journey-big-fontS {
  font-family: SF Pro Display;
  font-size: 16.879px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.338px;
}
