@import '../../../style.scss';

.card {
  position: absolute;
  width: 340px;
  padding: 15px;
  border-radius: 3px;
  p {
    @include font-style(16, #1a7219, Mabry Pro Reg, 1.2);
  }
  pre {
    white-space: pre-wrap;
    margin: 8px 0 0;
    @include font-style(16, #1a7219, Mabry Pro Reg, 1.3);
  }
  &_drag {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 32px;
  }
  &_to {
    display: flex;
    align-items: center;
    margin: 34px 0 0 auto;
    @include font-style(16, $System-Black-0, Mabry Pro Reg);
    svg {
      margin: 0 0 0 5px;
    }
  }
}
