@import '../../style.scss';

.popupImg {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 90;
  background-color: #00000080;
  &_container {
    position: relative;
    max-width: 650px;
    max-height: 650px;
    border: 5px solid $System-White-0;
    border-radius: 5px;
    img {
      max-width: inherit;
      max-height: inherit;
      object-fit: cover;
    }
    button {
      position: absolute;
      top: 0;
      right: -50px;
      svg,
      path {
        fill: #fff !important;
        stroke: #fff !important;
        opacity: 1 !important;
      }
    }
  }
}
