@import '../../style.scss';

.info {
  width: 1440px;
  margin: 0 auto;
  padding: 68px 0;
  &_container {
    display: flex;
    width: 1300px;
    margin: 98px auto 0;
    color: #fff;
  }
  &_about {
    width: 880px;
    margin-right: 120px;
    &-title {
      display: flex;
      align-items: end;
      font-family: Value Serif Pro Med;
      h1 {
        font-size: 29px;
        font-weight: 500;
        margin: 0 19px 0 0;
      }
      p {
        color: #828282;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
      }
    }
    &-detail {
      width: 880px;
      margin: 18px 0 40px;
    }
    &-frontimg {
      height: 440px;
      img {
        width: inherit;
        height: inherit;
      }
    }
    &-text {
      padding: 25px 27px 35px;
      background-color: #eaeaea;
      color: #6962e1;
      div {
        display: flex;
        align-items: end;
        margin: 0 0 13px;
      }
      h3 {
        font-family: Mabry Pro Med;
        font-size: 16px;
        font-weight: 500;
        line-height: 0.7;
        margin-left: 9px;
      }
      p {
        font-family: SF Pro Text Reg;
        font-size: 14px;
        font-weight: 500;
        line-height: 160%; /* 22.4px */
        letter-spacing: -0.14px;
        white-space: pre-line;
        &:last-child {
          font-weight: 400;
          color: #161616;
          margin-top: 28px;
        }
      }
    }
    &-highlights {
      width: 880px;
      height: 48px;
      background-color: #1d1d1d;
      padding: 0 27px;
      box-sizing: border-box;
      p {
        margin-right: 12px;
        color: #6f6f6f;
        font-family: Mabry Pro Reg;
        font-size: 16px;
        font-weight: 400;
      }
    }
    &-imgbox {
      display: flex;
      justify-content: space-between;
      margin: 40px 0 0;
      div {
        width: 396px;
        height: 285px;
        opacity: 0.2;
        background-color: #d9d9d9;
      }
    }
    &-map {
      height: 285px;
      opacity: 0.2;
      background-color: #d9d9d9;
    }
  }
  &_infomation {
    width: 300px;
    &-view {
      margin: 0 0 15px;
      svg {
        margin-left: 13px;
      }
    }
    &-tags {
      svg {
        margin-right: 13px;
      }
      li {
        display: flex;
        align-items: center;
        height: 40px;
        padding: 0 0 0 26px;
        p {
          color: #161616;
          font-family: Inter Med;
          font-size: 15px;
          line-height: 180%;
        }
      }
    }
    &-detail {
      padding: 22px 25px 10px;
      background-color: #d9d9d9;
      white-space: pre-wrap;
      ul {
        p,
        a {
          color: #161616;
          font-family: Inter Reg;
          font-size: 14px;
          font-weight: 400;
          line-height: 170%; /* 29.4px */
        }
      }
    }
  }
}

@font-face {
  font-family: 'Inter Reg';
  src: url('../../assets/font/inter/Inter-Regular.ttf');
  font-style: normal;
  font-display: swap;
}

.info-element {
  height: 18px;
}

.d-flex {
  display: flex;
  align-items: center;
}

.usetime {
  display: flex;
  align-items: center;
  margin: 0 0 13px;
  svg {
    width: 16px;
    height: 16px;
  }
  svg,
  p,
  span {
    margin-right: 12px;
  }
  a {
    text-decoration: none;
  }
}

.maylike {
  width: 300px;
  padding: 20px 26px 23px;
  background-color: #c2e56c;
  box-sizing: border-box;
  h2 {
    color: #161616;
    font-family: Mabry Pro Med;
    font-size: 16px;
    line-height: 0.7;
    margin: 0 0 13px;
    font-weight: 500;
  }
  a {
    text-decoration: none;
    color: #161616;
    font-family: Inter Reg;
    font-size: 13px;
    line-height: 170%; /* 22.1px */
  }
}

.relatemegazine {
  width: 300px;
  height: 231px;
  box-sizing: border-box;
  padding: 20px 26px 23px 25px;
  background-color: #649d77;
  h2 {
    color: #161616;
    font-family: Mabry Pro Med;
    font-size: 16px;
    line-height: 0.7;
    margin: 0 0 10px;
    font-weight: 500;
  }
  ul {
    display: flex;
    justify-content: space-between;
  }
}

.recent-weather {
  ul {
    display: flex;
    margin: 25px 0 22px;
    li {
      margin-right: 11px;
      h4,
      p {
        color: #8c8c8c;
        font-family: Mabry Pro Reg;
        font-size: 13px;
        font-weight: 400;
        line-height: 0.7;
        margin-bottom: 11px;
      }
      div {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80px;
        height: 97px;
        border-radius: 3px;
        background-color: #2e2e2e;
        padding: 11px;
        box-sizing: border-box;
        p {
          align-self: baseline;
          color: #848484;
          height: 20px;
          margin: 0;
        }
      }
    }
  }
}

.weather-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80px;
  height: 97px;
  border-radius: 3px;
  background-color: #2e2e2e;
  padding: 11px;
  box-sizing: border-box;
  p {
    align-self: baseline;
    color: #848484;
    height: 20px;
    margin: 0;
  }
}

.past-weather {
  width: 264px;
  height: 97px;
  ul {
    display: flex;
  }
  li {
    &:last-child {
      margin: 0 0 0 15px;
    }
    h3 {
      width: 168px;
      height: 25px;
      color: #8c8c8c;
      font-family: Mabry Pro Reg;
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
    }
  }
  &_calender {
    width: 171.5px;
    height: 45px;
    border: 1px solid #8c8c8c;
    border-radius: 3px;
    margin: 9px 0 0;
    display: flex;
    align-items: center;
    padding: 0 11px;
    box-sizing: border-box;
    justify-content: space-between;
    p {
      color: #8c8c8c;
      font-family: SF Pro Text Reg;
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: 210%; /* 27.3px */
    }
  }
}

// 245w/122h
// 170w/122h
// 75w/122h

.kakaomap {
  color: #ff0000;
}

/* @mixin hideScrollbars {
  -ms-overflow-style: none; // IE 10+
  &::-webkit-scrollbar {
    display: none;
  }
}
$blue: darken(cornflowerblue, 10);
$cool-gray: #eff1f1;
$factory-yellow: #f3e033;

* {
  box-sizing: border-box;
}
.picker-window {
  position: absolute;
  border-top: 1px solid darken($cool-gray, 10);
  border-bottom: 1px solid darken($cool-gray, 10);
  height: 1.4em;
  left: 0;
  top: 50%;
  transform: translateY(-65%);
  width: 100%;
  pointer-events: none;
}
.triangle {
  content: '';
  background: white;
  height: 20px;
  width: 20px;
  position: absolute;
  display: block;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}

.picker {
  display: inline-grid;
  box-shadow: 0 0.5vw 2vw -5px rgba(black, 0.2);
  border-radius: 15px;
  position: absolute;
  top: 0;
  left: 0;
  width: 700px;
  border-top: 2rem solid white;
  border-bottom: 2rem solid white;
  padding-left: 1rem;
  padding-right: 1rem;
  background: white;
  grid-template-columns: repeat(4, fit-content(500px));
  font-size: calc(0.5rem + 2.4vw);
  font-feature-settings: 'tnum';
  font-weight: 400;
  &:before,
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2.2em;
    pointer-events: none;
  }
  &:before {
    top: -0.2em;
    background: linear-gradient(white, rgba(white, 0.7));
  }
  &:after {
    bottom: -0.2em;
    height: 2.4em;
    background: linear-gradient(rgba(white, 0.7), white);
  }

  ul {
    display: block;
    @include hideScrollbars();
    max-height: 4em;
    overflow-y: scroll;
    margin-right: 1em;
    scroll-snap-type: y mandatory;
    padding-bottom: 3em;
    padding-top: 3em;
  }
  li {
    scroll-snap-align: center;
    height: 1.4em;
    text-align: right;
    word-spacing: 0.2em;
    color: #161616;
  }
}

.picker-day {
  padding-right: 0.5em;
  span {
    padding-left: 0.56em;
  }
}

.button-container {
  text-align: center;
  padding-top: 3rem;
  width: 100%;
}
button {
  display: inline-block;
  appearance: none;
  border: 1px solid $blue;
  background: transparent;
  color: $blue;
  border-radius: 15px;
  font-weight: 500;
  padding: 1rem;
  font-size: 1.1rem;
  font-family: 'San Francisco Text', sans-serif;
  cursor: pointer;
  letter-spacing: 0.01em;
} */
