@import '../../style.scss';

@mixin cardDl {
  position: relative;
  margin: 0;
}
@mixin cardDd($firstSize, $secondSize) {
  p {
    &:first-child {
      @include font-style(
        $firstSize,
        $System-Dark-Gray-0,
        Value Serif Pro Med,
        1.4
      );
    }
    @include font-style($secondSize, $System-Black-0, Mabry Pro Reg, 1.3);
    color: $System-White-0;
  }
}
@mixin cardDt {
  img {
    /* height: 100%;
    width: 100%; */
    width: 260px;
    height: 401px;
    object-fit: cover;
  }
}

.cardBookMark {
  position: absolute;
  top: 5px;
  right: 5px;
  margin: 0 !important;
  &:hover svg {
    filter: invert(100%);
  }
}

.magazineCard {
  &-small {
    position: relative;
    @include cardDl();
    width: 224px;
    height: 345px;
    dt {
      overflow: hidden;
      height: 280px;
      //@include cardDt();
      background-color: #d1c8b5;
      img {
        /* height: 100%;
        width: 100%; */
        width: 224px;
        height: 280px;
        object-fit: cover;
      }
    }
    dd {
      @include cardDd(11, 16);
      margin: 10px 0 0;
    }
  }
  &-medium {
    position: relative;
    @include cardDl();
    width: 260px;
    height: 401px;
    dt {
      overflow: hidden;
      height: 325px;
      //@include cardDt();
      background-color: #d1c8b5;
      img {
        /* height: 100%;
        width: 100%; */
        width: 260px;
        height: 325px;
        object-fit: cover;
      }
    }
    dd {
      @include cardDd(11, 16);
      margin: 15px 0 0;
    }
  }
  &-big {
    position: relative;
    @include cardDl();
    width: 280px;
    height: 431px;
    dt {
      overflow: hidden;
      height: 350px;
      //@include cardDt();
      background-color: #d1c8b5;
      img {
        /* height: 100%;
        width: 100%; */
        width: 280px;
        height: 350px;
        object-fit: cover;
      }
    }
    dd {
      @include cardDd(13, 20);
      margin: 12px 0 0;
    }
  }
}
