@import '../../style.scss';

@mixin cardDl {
  position: relative;
  margin: 0;
}
@mixin cardDd($topmargin, $sTop, $sBot, $firstSize, $secondSize) {
  margin: $topmargin 0 0;
  p {
    &:first-child {
      @include font-style($firstSize, $System-Dark-Gray-0, Value Serif Pro Med);
    }
    &:nth-child(2) {
      margin: $sTop 0 $sBot;
    }
    @include font-style($secondSize, $System-Black-0, Mabry Pro Reg);
  }
}
@mixin cardDt {
  img {
    height: 100%;
    width: 100%;
  }
}

.cardBookMark {
  position: absolute;
  top: 5px;
  right: 5px;
  margin: 0 !important;
  &:hover svg {
    filter: invert(100%);
  }
}

.magazineCard {
  &-small {
    @include cardDl();
    width: 224px;
    height: 345px;
    background-color: $System-White-0;
    dt {
      height: 280px;
      @include cardDt();
      background-color: #d1c8b5;
      img {
        height: 100%;
        width: 100%;
      }
    }
    dd {
      @include cardDd(15px, 10px, 5px, 11px, 16px);
    }
  }
  &-medium {
    @include cardDl();
    width: 260px;
    height: 401px;
    background-color: $System-White-0;
    dt {
      height: 325px;
      @include cardDt();
      background-color: #d1c8b5;
      img {
        height: 100%;
        width: 100%;
      }
    }
    dd {
      @include cardDd(18px, 10px, 5px, 12px, 18px);
    }
  }
  &-big {
    @include cardDl();
    width: 280px;
    height: 431px;
    background-color: $System-White-0;
    dt {
      height: 350px;
      @include cardDt();
      background-color: #d1c8b5;
      img {
        height: 100%;
        width: 100%;
      }
    }
    dd {
      @include cardDd(19px, 10px, 5px, 13px, 20px);
    }
  }
}
