@import '../../style.scss';

.background-full {
  width: 100%;
  height: 100%;
  background-color: #eaeaea;
}

.citie {
  margin: 0 auto;
  width: 1300px;
  &_head {
    display: flex;
    align-items: end;
    justify-content: space-between;
    height: 312px;
    &_title {
      margin: 0 0 31px;
      p {
        font-family: Value Serif Pro Med;
        font-size: 45px;
        line-height: 0.75em; /* 54px */
      }
    }
    &_sort {
      position: relative;
      display: flex;
      box-sizing: border-box;
      width: 308px;
      padding: 0 0 14px;
      margin: 0 0 16px;
      border-bottom: 1px solid #b9b5ff;
      button {
        margin: 0 18.4px 0 0;
      }
      p {
        color: var(--Purple, #736de3);
        font-family: Value Serif Pro Med;
        font-size: 29px;
        line-height: 0.75;
      }
    }
    &_drop {
      position: absolute;
      top: 100%;
      left: 0;
      width: 380px;
      height: 416px;
      padding: 22px 38px 38px;
      background-color: #eaeaea;
      z-index: 5;
      color: #736de3;
      box-sizing: border-box;
      button {
        display: block;
        margin-bottom: 36px;
        &:last-child {
          margin: 0;
        }
        color: #736de3;
        font-family: Value Serif Pro Med;
        font-size: 29px;
        line-height: 0.675; /* 34.8px */
      }
    }
  }
  &_section {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 10px;
    width: 1300px;
    height: 296px;
    padding: 28px 32px;
    margin: 0 0 25px;
    box-sizing: border-box;
    background-color: #d9d9d9;
    svg {
      fill: #cccccc;
    }
  }
  &_search {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: baseline;
    width: 224px;
    height: 239px;
    margin-right: 74px;
  }
  &_search-bar {
    display: flex;
    align-items: center;
    height: 40px;
    border-radius: 300px;
    background-color: #eaeaea;
    padding: 0 14px;
    box-sizing: border-box;
    input {
      @include noInputDeco('#eaeaea30');
      color: #161616;
      font-family: SF Pro Reg;
      font-size: 16px;
      opacity: 0.3;
      margin: 0 0 0 8px;
      width: 150px;
    }
  }
  &_search-reset {
    button {
      color: #858585;
      text-align: center;
      font-family: Mabry Pro Reg;
      font-size: 12px;
      letter-spacing: 0.24px;
    }
  }
  &_city_region {
    width: 287px;
    height: 239px;
  }
  &_city_region-title {
    color: var(--black, #161616);
    font-family: Mabry Pro Reg;
    font-size: 18px;
    line-height: 0.7;
    margin: 0 0 17px;
  }
  &_city_region-check {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 286px;
    height: 209px;
  }
  &_theme {
    align-self: baseline;
    width: 188px;
    margin: 0 0 0 57.5px;
  }
  &_theme-title {
    margin-bottom: 17px;
    p {
      color: var(--black, #161616);
      font-family: Mabry Pro Reg;
      font-size: 18px;
      line-height: 0.75;
    }
  }
  &_theme-check {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    height: 97px;
  }
  &_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.citie-checkbox {
  display: flex;
  align-items: center;
  align-self: baseline;
  margin: 0 31px 15px 0;
  height: 13px;
  &#t3_id {
    margin-bottom: 0;
  }
  &#KR-50_id {
    margin-bottom: 0;
  }
  &_check {
    display: inline-block;
    width: 13px;
    height: 13px;
    border-radius: 1.368px;
    background: #fff;
    margin-right: 8px;
  }
  &_label {
    font-family: SF Pro Display Light;
    color: var(--black, #161616);
    font-size: 13px;
  }
}

#KR-45 {
  &:hover {
    fill: #e67d40;
  }
}
/* #KR-46 {
  &:hover {
    fill: #e67d40;
  }
} */
#KR-47 {
  &:hover {
    fill: #e67d40;
  }
}
#KR-48 {
  &:hover {
    fill: #e67d40;
  }
}
#KR-49 {
  &:hover {
    fill: #e67d40;
  }
}
#KR-50 {
  &:hover {
    fill: #e67d40;
  }
}
