@font-face {
  font-family: 'SF Pro Display Bold';
  src: url('SF-Pro-Display-Bold.otf');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display Med';
  src: url('SF-Pro-Display-Medium.otf');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display Reg';
  src: url('SF-Pro-Display-Regular.otf');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display Light';
  src: url('SF-Pro-Display-Light.otf');
  font-style: normal;
  font-display: swap;
}
