@font-face {
  font-family: 'SF Pro Display';
  src: url('SFPRODISPLAYBOLD.OTF');
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SF Pro Display';
  src: url('SFPRODISPLAYMEDIUM.OTF');
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SF Pro Display';
  src: url('SFPRODISPLAYREGULAR.OTF');
  font-style: normal;
  font-display: swap;
}
