@import '../../style.scss';

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 68px;
  z-index: 99;
  box-sizing: border-box;
  &_container {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 1440px;
    padding: 26px 70px 20px;
    box-sizing: border-box;
  }
  &_locate {
    display: flex;
    margin: 0 0 0 40px;
    gap: 24px;
    button {
      padding: 2px 0 0;
      @include font-style(16, $System-White-0, Mabry Pro Reg, 1);
    }
  }
  &_menu {
    display: flex;
    align-items: center;
    margin-left: auto;
    button {
      display: flex;
      align-items: center;
      height: min-content;
      margin-right: 17px;
      &:last-child {
        margin: 0;
      }
    }
  }
}

.homll {
  position: fixed;
  top: 10%;
  left: 50%;
  width: 420px;
  height: 550px;
  background-color: #fff;
  border-radius: 10px;
  transform: translateX(-50%);
}
