@import '../../style.scss';

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: $fff;
  z-index: 99;
  background-color: $black;
  &_container {
    display: flex;
    align-items: center;
    height: 68px;
    margin: 0 auto;
    width: 1300px;
  }
  &_locate {
    display: flex;
    margin: 0 40px;
    font-family: Mabry Pro;
    p {
      color: #fff;
      margin-right: 40px;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
    }
  }
  &_menu {
    display: flex;
    align-items: center;
    margin-left: auto;
    button {
      display: flex;
      align-items: center;
      height: min-content;
      margin-right: 9px;
      &:last-child {
        margin: 0;
      }
    }
  }
}
