@import '../../style.scss';

.footer {
  display: flex;
  gap: 40px;
  height: 134px;
  width: 1300px;
  //border: 1px solid #eaeaea;
  margin: 30px auto 0;
  padding: 20px 0;
  box-sizing: border-box;
  &_divide {
    display: flex;
    gap: 15px;
    flex-direction: column;
  }
  svg {
    fill: $Brand-Light-Green-0;
  }
  button {
    text-align: left;
    @include font-style(13, $System-Light-Gray-0, 0.7, Mabry Pro Reg);
  }
  &_copyrights {
    margin: 0 0 0 auto;
    @include font-style(12, $System-Dark-Gray-1, 0.7, Mabry Pro Light);
  }
}

//$System-Light-Gray-0
