@import '../../style.scss';

.pageCount {
  padding: 20px 24px;
  background-color: $System-Light-Gray-0;
  ul {
    p,
    a {
      color: $System-Black-0;
      font-family: Inter Reg;
      font-size: 14px;
      font-weight: 400;
      line-height: 170%; /* 29.4px */
    }
  }
}
