@import '../../style.scss';

.login {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #16161680;
  color: $black-16;
  &_paragraph {
    p {
      margin: 10px 0 0;
      color: var(--dark-gray-0, #8d8d90);
      font-family: Inter Reg;
      font-size: 12px;
      font-style: normal;
      line-height: 140%; /* 16.8px */
    }
    svg {
      margin: 250px 0 0;
    }
  }
  &_container {
    position: absolute;
    top: 10%;
    left: 50%;
    width: 450px;
    height: 600px;
    border-radius: 5px;
    background-color: #eaeaea;
    transform: translateX(-50%);
    h2 {
      &:first-child {
        color: #161616;
        text-align: center;
        font-family: Value Serif Pro Med;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%; /* 33.6px */
      }
    }
    fieldset {
      height: 0px;
    }
  }
  &_exit {
    position: absolute;
    top: 25px;
    right: 25px;
  }
  &_loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000033;
  }
}

.login-google {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 108px auto 0;
  &_snsLogin {
    margin: 52px 0 0;
  }
  &_self {
    display: flex;
    align-items: center;
    width: 275px;
    height: 50px;
    border-radius: 3px;
    border: 1px solid #000;
    background: #161616;
    padding: 0 0 0 39px;
    img {
      width: 24px;
      height: 24px;
      margin-right: 17px;
    }
    p {
      color: #fff;
      font-family: Mabry Pro;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 0%; /* 0px */
    }
  }
}

.login-curate {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 80px auto 0;
  &_paragraph {
    p {
      &:first-child {
        color: var(--black, #161616);
        text-align: center;
        font-family: Value Serif Pro;
        font-size: 21px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%; /* 29.4px */
      }
      &:last-child {
        margin: 0 auto;
        color: #736de3;
        font-family: Value Serif Pro;
        font-size: 21px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
      }
    }
  }
  &_form {
    margin: 51px 0 0;
    width: 304px;
    input,
    select {
      border: 0.5px solid #16161630;
      border-radius: 5px;
      background: none;
      width: 100%;
      height: 45px;
      box-sizing: border-box;
      padding: 12px 12px 12px 15px;
      &:focus {
        border: 0;
        outline: 0.5px solid #161616;
      }
    }
    input[type='number']::-webkit-outer-spin-button,
    input[type='number']::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    input[type='number']::placeholder {
      color: #16161630;
    }

    select {
      appearance: none;
      &::-ms-expand {
        display: none;
      }
    }
    select[id='Nationality'] {
      background: url('./assets/drop.png') no-repeat 280px 50%;
    }
    select[id='gender'] {
      background: url('./assets/drop.png') no-repeat 121px 50%;
    }
    label {
      height: 20px;
      padding: 0 5px;
      position: absolute;
      top: -6px;
      left: 10px;
      color: #8c8c8c;
      font-family: Inter;
      font-size: 10px;
      font-style: normal;
      background-color: #eaeaea;
      font-weight: 400;
      z-index: 10;
    }
  }
  &_inputbox {
    position: relative;
    margin: 0 auto 25px;
    flex-shrink: 0;
  }
  button {
    width: 110px;
    height: 40px;
    font-family: Mabry Pro Reg;
    margin: 105px 0 0;
    border-radius: 3px;
    border: 1px solid #000;
    background-color: #161616;
    color: #fff;
  }
}

.login-taste {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 80px auto 0;
  &_form {
    display: flex;
    flex-wrap: wrap;
    margin: 45px 30px 0;
  }
  &_select {
    width: calc(100% / 3);
    margin: 0 0 20px;
    button {
      width: fit-content;
      height: min-content;
      box-sizing: border-box;
      padding: 8px 13px;
      color: #161616;
      font-family: Inter;
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      background-color: #e3e3e3;
      border-radius: 263.521px;
      line-height: 0.7;
      max-height: 26px;
      cursor: pointer;
      &:hover {
        background-color: #c0c0c0;
      }
    }
  }
  &_confirm {
    width: 110px;
    height: 40px;
    margin: 46px 0 0;
    border-radius: 3px;
    border: 1px solid #000;
    background-color: #161616;
    color: #fff;
    font-family: Mabry Pro Reg;
  }
}

.login-congrates {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 80px auto 0;
  img {
    margin: 30px 0 15px;
  }
  &_discoverer {
    width: 300px;
    color: var(--black, #161616);
    font-family: Mabry Pro Reg;
    text-align: center;
    line-height: 0.7;
    h4 {
      margin: 0 auto;
      font-size: 14px;
      font-weight: 400;
      line-height: 115%; /* 16.1px */
    }
    h3 {
      font-family: Mabry Pro Med;
      margin: 0 auto 7px;
      font-size: 21px;
      font-weight: 500;
      line-height: 115%;
    }
    p {
      color: var(--gray-2, #8c8c8c);
      font-size: 13px;
      font-weight: 400;
      line-height: 130%; /* 16.9px */
    }
  }
  button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 110px;
    height: 40px;
    border-radius: 3px;
    border: 1px solid var(--Black-0, #000);
    background: var(--black, #161616);
    color: #fff;
    font-family: Mabry Pro Reg;
  }
}

.login-paragraph {
  p {
    &:first-child {
      text-align: center;
      color: var(--black, #161616);
      font-family: Value Serif Pro Med;
      font-size: 21px;
      font-style: normal;
      font-weight: 500;
      line-height: 140%; /* 29.4px */
    }
    &:last-child {
      width: 100%;
      text-align: center;
      color: #736de3;
      font-family: Value Serif Pro Med;
      font-size: 21px;
      font-style: normal;
      font-weight: 500;
      line-height: 140%;
    }
  }
}

.optional {
  position: absolute;
  bottom: 20px;
  right: 20px;
  p {
    color: var(--gray-2, #8c8c8c);
    font-family: Inter;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 0%; /* 0px */
  }
}

.optional2 {
  position: absolute;
  bottom: 20px;
  left: 25px;
  border-bottom: 1px solid #8c8c8c;
  p {
    color: var(--gray-2, #8c8c8c);
    text-align: center;
    font-family: Inter Reg;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
  }
}

.small-input {
  width: 145px;
  height: 45px;
}

.margin14 {
  margin-right: 14px;
}

.taste-toggle {
  background-color: #c0c0c0;
}
