@import '../../../style.scss';

.info-hover {
  position: relative;
  display: flex;
  align-items: center;
  &:hover &_content {
    display: block;
  }
  &_content {
    display: none;
    position: absolute;
    top: 75%;
    right: 75%;
    width: max-content;
    content: 'aaa';
    background-color: #dfdfdf;
    padding: 10px;
    z-index: 90;
  }
  pre {
    white-space: pre-line;
    word-break: keep-all;
    font-family: Inter Reg;
    color: #000;
    font-size: 10px;
    font-style: normal;
    font-weight: 300;
    line-height: 160%; /* 16px */
  }
}
