$black: #000;
$black-16: #161616;
$fff: #ffffff;
$gray: #eaeaea;
$yellow: #b9e155;

/*-----------------------*/

@mixin mabry {
  font-family: Mabry Pro;
}

@mixin serif {
  font-family: Value Serif Pro;
}

@mixin sfpro {
  font-family: SF Pro Display;
}
