$black: #000;
$black-16: #161616;
$fff: #ffffff;
$gray: #eaeaea;
$yellow: #b9e155;

/*-----------------------*/

@mixin mabry {
  font-family: Mabry Pro;
}

@mixin serif {
  font-family: Value Serif Pro;
}

@mixin sfpro {
  font-family: SF Pro Display;
}

@mixin noInputDeco($color) {
  background: none;
  border: 0;
  &::placeholder {
    color: $color;
  }
  &:focus {
    outline: none;
  }
}

/*
폰트 사이즈가 20보다 작을 경우, SF Pro TEXT / 20보다 클 경우, SF Pro DISPLAY
*/
